@media screen and (max-width: 1920px) {
  /* .rightHeader{
    margin-left: 300px;
  } */
}
/*1440*/

@media screen and (max-width: 1440px) {
  .container {
    width: 97%;
  }

  .container-slide {
    margin-left: 3%;
  }

  header .wrapperHead .menu {
    padding-left: 5px;
  }

  #bigSlider .circle2 {
    right: 0;
    top: 120px;
  }

  .sliderScreen1 .item img {
    margin-left: -3px;
    width: auto;
    margin-bottom: -1px;
  } 

  #events .mainBlock .leftBlock img {
    left: -17px;
  }

  .icons {
    width: 130px;
  }

  .ml-5 {
    margin-left: 20px;
  }

  .wrapperHead .leftHeader .menu li {
    margin: 0 10px;
  }

  .wrapperHead .leftHeader .menu {
    justify-content: start;
  }

  .leftHeader{
    width: 1040px;
  }

  .wrapperHead .rightHeader .lang{
    margin-left: 0;
  }

  .ml-5{
    margin-left: 0px;
  }

  #numbers .mainBlock {
    background-size: 53%;
    background-position-y: center;
  }
}

@media screen and (max-width: 1280px) {
  /* .container {
    margin-left: 0;
  } */

  .wrapperHead .leftHeader .menu{
    padding-left: 15px;
  }

  #news .leftBlock {
    display: none;
  }

  #news .rightBlock {
    width: 100%; 
  }

  #events .mainBlock {
    justify-content: flex-start;
    flex-wrap: wrap;  
  }

  #events .mainBlock .rightBlock {
    width: 100%;
    margin-top: 60px;
  }

  #events .mainBlock .leftBlock {
    align-items: flex-start;
  }

  #events .mainBlock .leftBlock .wrapper {
    margin-left: 70px;
  }

  .wrapperHead .leftHeader .menu li a {
    font-size: 12px;
  }

  #birthDay .recomText {
    font-size: 14px;
  }

  #birthDay .itemsGroup {
    margin: 0 0;
  }

  #news .wrapperButtons .wrapperFirst .btn-menu-news {
    display: flex;
  }

  .sliderScreen1 .item .offer button {
    margin-left: 30px;
  }
}

/*1024*/


@media screen and (max-width: 1024px) {
  header nav {
    display: none;
  }

  .sliderScreen1 .item .offer h1 {
    font-size: 36px;
    max-width: 450px;
  }

  .wrapperHead .leftHeader .menu{
    padding-left: 0px;
  }

  .wrapperHead .leftHeader .menu li {
    margin: 0 5px;
  }

  .wrapperHead .leftHeader .menu li a {
    font-size: 14px;
  }

  nav{
    width: 650px;
  }

  .logoImg{
    width: 79px;
  }

  #numbers .mainBlock .rightBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #numbers h1 {
    padding-top: 110px;
    padding-bottom: 50px;
    justify-content: flex-start;
  }

  #numbers .mainBlock {
    background-size: 46%;
    background-position-y: 0;
  }

  #birthDay .itemsGroup {
      flex-direction: column;
  }

  #birthDay .itemsGroup .column {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
  }

  #birthDay .recomBlock {
    width: -webkit-fill-available;
  }

  #birthDay .recomText {
    max-width: 190px;
  }

  .sliderScreen1 .item .offer button {
    margin-left: 10px;
  }
}

/*Header 768*/

@media screen and (max-width: 768px) {
  nav{
    display: none;
  }

  .sliderScreen1 .item .offer h1 {
    font-size: 24px;
    max-width: 300px;
  }

  .wrapperHead .rightHeader {
    margin-left: 70px;
  }

  .sliderScreen1 .item .offer button {
    margin-left: 0px;
    margin-top: 7px;
  }

  .sliderScreen1 .item img  {
    width: 150%;
  }

  #numbers .mainBlock {
    background-size: 80%;
    background-position-x: center;
    background-position-y: 0;
  }

  #numbers h1 {
    max-width: 300px;
    padding-top: 86px;
    padding-bottom: 12px;
  }

  #numbers .wrapper .rightBlock .listOfAwards {
    display: flex;
    margin-top: 54px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding-left: 10%;
  }

  #numbers .wrapper .rightBlock .listOfAwards .item {
    margin-right: 33px;
    margin-top: 14px;
  }

  #birthDay .itemsGroup .column {
    flex-direction: column;
  }

  footer .firstSection {
    flex-wrap: wrap;
  }

  footer .footerInfor {
    margin-top: 40px;
    width: 50%;
  }

  footer .leftLine:nth-last-child(2) {
    border: none;
    padding-left: 0;
  }
}

/*Header 414*/

@media screen and (max-width: 414px) {
  .wrapperHead .rightHeader {
    margin-left: 20px;
  }

  .sliderScreen1 .item .offer h1 {
    font-size: 18px;
  }
}

/*Header 320*/

@media screen and (max-width: 320px) {
  .wrapperHead .rightHeader {
    margin-left: 0px;
  }

  .logoImg{
    width: 60px;
  }
}
