@media screen and (max-width: 1920px) {
  /* .rightHeader{
    margin-left: 300px;
  } */
}
/*1440*/

@media screen and (max-width: 1440px) {
  .container {
    width: 97%;
  }

  .container-slide {
    margin-left: 3%;
  }

  header .wrapperHead .menu {
    padding-left: 5px;
  }

  #bigSlider .circle2 {
    right: 0;
    top: 120px;
  }

  .sliderScreen1 .item img {
    margin-left: -2px;
    width: auto;
    margin-bottom: -1px;
  }

  #news .leftBlock .wrapper {
    padding: 24px 30px;
    padding-bottom: 65px;
  }

  #events .mainBlock .leftBlock img {
    left: -17px;
  }

  .icons {
    width: 130px;
  }

  .ml-5 {
    margin-left: 20px;
  }

  .wrapperHead .leftHeader .menu li {
    margin: 0 10px;
  }

  .wrapperHead .leftHeader .menu {
    justify-content: start;
  }

  .leftHeader {
    width: 1040px;
  }

  .wrapperHead .rightHeader .lang {
    margin-left: 0;
  }

  .ml-5 {
    margin-left: 0px;
  }

  #numbers .mainBlock {
    background-size: 53%;
    background-position-y: center;
  }
}

@media screen and (max-width: 1280px) {
  #news .rightBlock .tab-pane .mainBlock .left h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  /* .container {
    margin-left: 0;
  } */

  .sliderScreen1 .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px;
  }

  .sliderScreen1 .item {
    height: 500px;
  }

  .wrapperHead .leftHeader .menu {
    padding-left: 15px;
  }

  #news .leftBlock {
    display: none;
  }

  #news .rightBlock {
    width: 100%;
  }

  #news .rightBlock .tab-pane .mainBlock .left {
    padding: 55px;
  }

  #news .rightBlock .tab-pane .mainBlock .right img {
    height: -webkit-fill-available;
    object-fit: cover;
  }

  #events .mainBlock {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  #events .mainBlock .rightBlock {
    width: 100%;
    margin-top: 60px;
  }

  #events .mainBlock .leftBlock {
    align-items: flex-start;
  }

  #events .mainBlock .leftBlock .wrapper {
    margin-left: 70px;
  }

  .wrapperHead .leftHeader .menu li a {
    font-size: 12px;
  }

  #birthDay .recomText {
    font-size: 14px;
  }

  #birthDay .itemsGroup {
    margin: 0 0;
  }

  #news .wrapperButtons .wrapperFirst .btn-menu-news {
    display: flex;
  }

  .sliderScreen1 .item .offer button {
    margin-left: 30px;
  }
}

/*1024*/

@media screen and (max-width: 1080px) {
  header nav {
    display: none !important;
  }

  .sliderScreen1 .item .offer h1 {
    font-size: 36px;
    max-width: 450px;
  }

  .wrapperHead .leftHeader .menu {
    padding-left: 0px;
  }

  .wrapperHead .leftHeader .menu li {
    margin: 0 5px;
  }

  .wrapperHead .leftHeader .menu li a {
    font-size: 14px;
  }

  nav {
    width: 650px;
  }

  .logoImg {
    width: 79px;
  }

  #numbers .mainBlock .rightBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #numbers h1 {
    padding-top: 110px;
    padding-bottom: 50px;
    justify-content: flex-start;
  }

  #numbers .mainBlock {
    background-size: 46%;
    background-position-y: 0;
  }

  #birthDay .itemsGroup {
    flex-direction: column;
  }

  #birthDay .itemsGroup .column {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
  }

  #birthDay .recomBlock {
    width: -webkit-fill-available;
  }

  #birthDay .recomText {
    max-width: 190px;
  }

  .sliderScreen1 .item .offer button {
    margin-left: 10px;
  }

  #news .rightBlock .tab-pane .mainBlock .left h1 {
    font-size: 24px;
  }

  #news .rightBlock .tab-pane .mainBlock .left p {
    font-size: 12px;
  }

  #bigSlider .circle2 {
    display: none;
  }

  .wrapperHead .menu-btn {
    display: flex;
  }

  .wrapperHead .menu-desktop-btn {
    display: none;
  }

  #bigSlider .item .offer .watch {
    font-size: 13px;
    padding: 7px 15px;
  }

  #bigSlider .item .offer p {
    font-size: 13px;
  }

  footer .siteInfor {
    font-size: 13px;
    width: 165px;
  }
}

/*768*/

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .wrapperHead .rightHeader .serchBlock {
    display: none;
    padding: 10px;
    position: absolute;
    left: -203px;
    top: 70px;
  }

  .sliderScreen1 .item .offer h1 {
    font-size: 24px;
    max-width: 300px;
  }

  .wrapperHead .rightHeader {
    margin-left: 70px;
  }

  .wrapperHead .leftHeader .leftHeader .logo img {
    width: 80%;
  }

  .sliderScreen1 .item .offer button {
    margin-left: 0px;
    margin-top: 7px;
  }

  .sliderScreen1 .owl-item img {
    object-position: -130px;
    border-radius: 0px 0px 0px 50px;
  }

  #news .rightBlock .tab-pane .mainBlock .left h1 {
    font-size: 18px;
    line-height: normal;
  }

  /* #news .rightBlock .tab-pane .mainBlock .left {
    width: 85%;
  } */

  #news .rightBlock .tabs li {
    margin-right: 15px;
  }

  #numbers .mainBlock {
    background-size: 80%;
    background-position-x: center;
    background-position-y: 0;
  }

  #numbers h1 {
    max-width: 300px;
    padding-top: 86px;
    padding-bottom: 12px;
  }

  #numbers .wrapper .rightBlock .listOfAwards {
    display: flex;
    margin-top: 54px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding-left: 10%;
  }

  #numbers .wrapper .rightBlock .listOfAwards .item {
    margin-right: 33px;
    margin-top: 14px;
  }

  #birthDay .itemsGroup .column {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  #birthDay .sliderHB {
    padding: 24px 24px;
  }

  #events .mainBlock .rightBlock .sliderEvents .card .btnCard {
    font-size: 12px;
  }

  #events .mainBlock .rightBlock .sliderEvents .card .mainText {
    font-size: 16px;
  }

  #bigSlider .item .offer .watch {
    font-size: 10px;
    padding: 6px 13px;
  }

  #bigSlider .item .offer p {
    font-size: 11px;
  }

  footer .firstSection {
    flex-wrap: wrap;
  }

  footer .footerInfor {
    margin-top: 40px;
    width: 50%;
  }

  footer .leftLine:nth-last-child(2) {
    border: none;
    padding-left: 0;
  }

  #bigSlider .item .offer p {
    display: none;
  }

  #numbers h1 {
    margin-bottom: 30px;
  }

  footer .siteInfor {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  #birthDay .itemsGroup .column {
    flex-direction: column;
  }

  #birthDay .itemsGroup .column {
    justify-content: space-around;
    padding: 0 60px;
  }
}

@media screen and (max-width: 568px) {
  #news .wrapperButtons {
    flex-direction: column;
  }

  .sliderScreen1 .owl-item img {
    object-position: -220px;
  }

  #news .wrapperButtons .navsButtons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
  }

  #events .mainBlock .rightBlock .sliderEvents .card {
    padding: 42px 0 57px;
  }

  #events .mainBlock .rightBlock .sliderEvents .card .wrapperMain {
    padding: 33px 25px 0;
  }

  #events .mainBlock .rightBlock .sliderEvents .card .btnCard {
    padding: 12px 20px;
  }

  .sliderScreen1 .item .offer button {
    font-size: 12px;
    padding: 10px 23px;
  }

  footer .social {
    position: absolute;
    bottom: -10px;
    width: auto;
    left: 25%;
  }

  footer .firstSection {
    position: relative;
  }

  .wrapperHead .leftHeader .logo img {
    width: 75%;
    margin-left: 15px;
  }

  footer .footerSlider .item .wrapper img {
    width: 17%;
  }
}

@media screen and (max-width: 495px) {
  #events .mainBlock .rightBlock .sliderEvents .card {
    margin-right: 0px;
  }

  .wrapperHead .rightHeader .subMenuLang {
    top: 65px;
  }

  footer .firstSection {
    margin-bottom: 100px;
  }
}

/*414*/

@media screen and (max-width: 414px) {
  .pkVersion {
    display: none;
  }

  #news .rightBlock .mainBlock .left h1 {
    font-weight: 200 !important;
  }

  #news .rightBlock .mainBlock .left p {
    margin-top: 0px;
    font-weight: 300 !important;
  }

  .sliderScreen1 .item img {
    margin-left: 0px;
  }

  .adaptiveSlider2 {
    display: flex;
  }

  .osnova {
    display: none !important;
  }

  .sliderScreen1 .pk {
    display: none;
  }

  .slider1Mob414 {
    display: block !important;
  }

  .wrapperHead .rightHeader {
    margin-left: 20px;
  }

  .sliderScreen1 .owl-dots {
    bottom: 6%;
    left: 10%;
  }

  .sliderScreen1 .item .offer h1 {
    font-size: 18px;
  }

  #events .mainBlock .rightBlock .sliderEvents .card .wrapperDate p {
    font-size: 9px;
  }

  #events .mainBlock .rightBlock .sliderEvents .card {
    margin-right: 9px;
  }

  #birthDay .headName h1 {
    font-size: 22px;
  }

  #birthDay .itemsGroup .column {
    padding: 0 24px;
  }

  #events .mainBlock .rightBlock .sliderEvents .date {
    border-top: 13px solid;
    border-bottom: 13px solid;
  }

  #numbers .mainBlock .textRight {
    font-size: 14px;
  }

  #numbers .mainBlock {
    background-position: 50% 30px;
  }

  .sliderScreen1 .owl-item img {
    object-position: 0px;
  }

  .sliderScreen1 .item {
    height: 349px;
  }

  .sliderScreen1 .item .offer h1 {
    max-width: 92px;
  }
}

@media screen and (max-width: 425px) {
  .wrapperHead .rightHeader .serchBlock {
    left: -83px;
    top: 63px;
  }

  /* .headerDopDownNav .headerMenu img {
    width: 55%;
  } */
}

/*375*/

@media screen and (max-width: 375px) {
  .wrapperHead .rightHeader {
    margin-left: 0px;
  }

  footer .footerSlider .item .wrapper img {
    width: 16%;
  }

  .sliderScreen1 .owl-dots {
    bottom: 4%;
    left: 30%;
  }

  footer .siteInfor {
    font-size: 15px;
    width: 152px;
  }

  .sliderScreen1 .item .offer {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    padding: 0 25%;
    width: -webkit-fill-available;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .sliderScreen1 .item .offer button {
    position: absolute;
    bottom: -50px;
  }

  .sliderScreen1 .item .offer h1 {
    text-align: left;
    max-width: 158px;
  }

  .logoImg {
    width: 60px;
  }

  #news .rightBlock .tab-pane .mainBlock .left {
    width: 54%;
    padding: 15px;
  }

  footer .footerSlider .item .wrapper img {
    width: 20%;
  }
}

@media screen and (max-width: 320px) {
  /* .headerDopDownNav .headerMenu img {
    width: 37%;
  } */

  #news .rightBlock .tab-pane .mainBlock .left h1 {
    font-size: 14px;
  }

  .slider1Mob414 {
    display: none !important;
  }

  .slider1Mob320 {
    display: block !important;
  }

  #news .rightBlock .tabs {
    padding-left: 10px;
  }

  .sliderScreen1 .item .offer h1 {
    max-width: 170px;
  }

  /* .sliderScreen1 .owl-item img {
    object-position: -340px;
  } */

  footer .siteInfor {
    font-size: 10px;
    width: 97px;
  }

  footer .footerInfor {
    height: 220px;
  }

  footer .inSection {
    font-size: 12px;
  }

  footer .social {
    left: 12%;
  }

  #numbers .wrapper .rightBlock .listOfAwards {
    padding-left: 0;
    justify-content: space-around;
  }

  #numbers .wrapper .rightBlock .listOfAwards .item {
    margin-right: 20px;
  }
}
