body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.ml-5 {
    margin-left: 50px;
}

/* *** HEADER *** */

header {
    padding-top: 25px;
}

.wrapperHead {
    display: flex;
    justify-content: space-between;
}

.wrapperHead .leftHeader {
    display: flex;
    align-items: center;
}

.wrapperHead .leftHeader .menu {
    display: flex;
    justify-content: space-between;
}

.wrapperHead .leftHeader .menu li a:hover {
    text-decoration: none;
}

.wrapperHead .leftHeader .menu li a:hover:after {
    text-decoration: none;
    width: 100%; 
    left: 0; 
}

.wrapperHead .leftHeader .menu li a:after {
    bottom: -15px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #005FA0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.wrapperHead .leftHeader .menu li {
    margin: 0 14px;
    position: relative;
    list-style: none;
}

.wrapperHead .leftHeader .menu li a {
    font-size: 17px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    transition: .4s linear;
}

.wrapperHead .rightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperHead .rightHeader .icons img {
    margin: 0 10px;
}

.wrapperHead .rightHeader .lang {
    border-radius: 50px;
    border: 1px solid rgba(237, 235, 235, 1);
    background: transparent;
    padding: 7px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
}

.wrapperHead .rightHeader .lang:focus {
    outline: none;
}

.wrapperHead .rightHeader .lang p {
    margin: 0;
    color: rgba(22, 22, 22, 1);
    font-size: 15px;
    margin-left: 5px;
    text-decoration: underline;
}

/* * BURGER * */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn__burger {
    width: 22px;
    height: 3px;
    background-color: #060606;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 3px;
    background: #060606;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-7px);
}
.menu-btn__burger::after {
    transform: translateY(7px);
}


.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* ** SLIDER 1 ** */

.container-slide {
    margin-left: 6%;
}

.sliderScreen1 .owl-dots {
    position: absolute;
    text-align: left;
    bottom: 15%;
    left: 13%;
}

.sliderScreen1 .owl-dots .owl-dot {
    border: 2px solid #AAA6A6;
    border-radius: 25px;
    margin: 4px;
}

.sliderScreen1 .owl-dots .owl-dot:focus {
    outline: none;
}

.sliderScreen1 .owl-dots .owl-dot span {
    background: transparent;
    margin: 2px;
    width: 6px;
    height: 6px;
}

.sliderScreen1 .owl-dots .active span {
    background: #005FA1 !important;
}

.sliderScreen1 .item .offer {
    font-family: 'Montserrat';
    position: absolute;
    margin-top: 14%;
    margin-left: 7%;
}

.sliderScreen1 .item .offer h1 {
    font-weight: 900;
    max-width: 620px;
    font-size: 48px;
    color: black;
}

.sliderScreen1 .item .offer button {
    max-width: 620px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    padding: 15px 39px;
    background: #005FA1;
    color: white;
    margin-top: 67px;
    margin-left: 60px;
}

.slider2Screen1 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    border-radius: 30px;
    padding: 40px 30px;
    font-family: 'Montserrat';
}

.slider2Screen1 {
    margin-top: 50px;
}

.slider2Screen1 .owl-nav {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}

.owl-nav .owl-next, .owl-nav .owl-prev:focus {
    outline: none;
}

.owl-nav .owl-next, .owl-nav .owl-prev {
    width: 42px;
    height: 37px;
    background: url(../img/arrowRight.png) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.owl-nav .owl-prev {
    width: 30px;
    height: 30px;
    background: url(../img/arrowLeft.png) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.slider2Screen1 .card img {
    width: 100px;
}

.slider2Screen1 .card p.headName {
    margin-top: 16px;
    font-size: 15px;
}

/* header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stripMenu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    color: black;
}
.mainMenu {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.mainMenu li {
    list-style: none;
}

.buttonLang {
    display: inline-flex;
    justify-content: flex-end;
    border-radius: 30px;
    
}
.lang {
    display: flex;
    justify-content: space-between;
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.act {
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.univer {
    display: flex;
    justify-content: center;
}
.photo{
    width: 55%;
}
.photoUniver{
    display: flex;
    width: 110%;
    margin-top: -18%;
    
}
.inforUniver{
    display: flex;
    width: 40%;
    
}
#inforUniver{
    line-height: 150%;
  
    font-size: 180%;
}
.photoInfor{
    display: flex;
    align-items: flex-start;
}
.inforMore{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 55%;
    margin-top: -21%;

}
.morePhoto{
    width:50%;
}
.more{
    width: 20%;
}
.moreHref{
    display: flex;
    justify-content: ;
}
.progress{
    margin-left: 55%;
    background-color: white;
    box-shadow: none;
    height: auto;
    margin-top: 5%;
}
.progressHref{
    font-size: 180%;
    color: black;
    text-decoration: underline;
}
 */
 footer{
    background-color: #393939;
    height: 707px;
 }
 .footer{
     display: flex;
     justify-content: space-around;
     background-color: #393939;
     height: 100%;
     margin-top: ;
 }
 .footerSection{
     display: flex;
     justify-content: space-around;
     color: #ECECEC;
     font-size: 180%;
 }
 .inSection{
     font-size: 120%;
     color: #857C7C;
 }
 .footerLine{
     display: flex;
     background-color: #5B5959;
     width: 1px;
     height: 50%;
     margin-right: -12%;
   
 }
 .social{
     display: flex;
     justify-content: space-between;
     height: 10%;
     margin-top: 35%;
 }
 .socialPhoto_block{
     width: 20%;
     height: 60%;
     border: solid #D7D4D4 1px;
     
 }
 .socialPhoto{
     
     
 }
 .facebook{
     margin-top: 15%;
     margin-left: 30%;
 }
 .vk{
    margin-top: 25%;
    margin-left: 18%;
 }
 .yt{
     height: 45%;
     margin-top: 22%;
     margin-left: 21%;
 }
 .inst{
     height: 60%;
     margin-top: 18%;
     margin-left: 20%;
 }
 .footerDownLine{
     display: flex;
     height: 40%;
     width: 40%;
     background-color: #5B5959;
 }
 .siteInfor{
 

     margin-top: 20%;
     margin-left: -100%;
 }