.stripMenu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    color: black;
}
.mainMenu{
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.buttonLang{
    display: inline-flex;
    justify-content: flex-end;
    border-radius: 30px;
    
}
.lang{
    display: flex;
    justify-content: space-between;
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.act{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.univer{
    display: flex;
    justify-content: center;
}
.photo{
    width: 55%;
}
.photoUniver{
    display: flex;
    width: 110%;
    margin-top: -18%;
    
}
.inforUniver{
    display: flex;
    width: 40%;
    
}
#inforUniver{
    line-height: 150%;
  
    font-size: 180%;
}
.photoInfor{
    display: flex;
    align-items: flex-start;
}
.inforMore{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 55%;
    margin-top: -21%;

}
.morePhoto{
    width:50%;
}
.more{
    width: 20%;
}
.moreHref{
    display: flex;
    justify-content: ;
}
.progress{
    margin-left: 55%;
    background-color: white;
    box-shadow: none;
    height: auto;
    margin-top: 5%;
}
.progressHref{
    font-size: 180%;
    color: black;
    text-decoration: underline;
}
