body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.ml-5 {
  margin-left: 50px;
}

.container {
  width: 90%;
}

/* *** HEADER *** */

.deskMenu {
  position: absolute;
  width: 100%;
  padding: 85px 105px;
  background: white;
  display: none;
  z-index: 10;
}

.deskMenu .rowBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deskMenu .rowBlock .menuColumn {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.deskMenu .rowBlock .menuColumn h5 {
  font-size: 17px;
  font-family: "Roboto";
  margin-bottom: 16px;
}

.deskMenu .rowBlock .menuColumn .items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.deskMenu .rowBlock .menuColumn .items li {
  list-style: none;
  margin-top: 8px;
}

.deskMenu .rowBlock .menuColumn .items li a {
  font-size: 17px;
  color: #999999;
  font-family: "Roboto";
}

header {
  padding-top: 25px;
}

.wrapperHead {
  display: flex;
  justify-content: space-between;
}

.wrapperHead .leftHeader {
  display: flex;
  align-items: center;
  position: relative;
}

.wrapperHead .leftHeader .menu {
  display: flex;
  justify-content: space-between;
}

.wrapperHead .leftHeader .menu li a:hover {
  text-decoration: none;
}

.wrapperHead .leftHeader .menu li a:hover:after {
  text-decoration: none;
  width: 100%;
  left: 0;
}

.wrapperHead .leftHeader .menu li a:after {
  bottom: -15px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #005fa0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header a:hover:after {
  width: 100%;
  left: 0;
}

.wrapperHead .leftHeader .menu li {
  margin: 0 14px;
  position: relative;
  list-style: none;
}

.wrapperHead .leftHeader .menu li a {
  font-size: 17px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  transition: 0.4s linear;
}

.wrapperHead .rightHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperHead .rightHeader .icons img {
  margin: 0 10px;
}

.wrapperHead .rightHeader .lang {
  border-radius: 50px;
  border: 1px solid rgba(237, 235, 235, 1);
  background: transparent;
  padding: 7px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
}

.wrapperHead .rightHeader .lang:focus {
  outline: none;
}

.wrapperHead .rightHeader .lang {
  margin: 0;
  color: rgba(22, 22, 22, 1);
  font-size: 15px;
  text-decoration: underline;
}

.wrapperHead .rightHeader .lang img {
  margin-right: 5px;
}

/* * BURGER * */

.wrapperHead .menu-btn {
  display: none;
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
.burger .menu-btn__burger {
  width: 22px;
  height: 3px;
  background-color: #060606;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.burger .menu-btn__burger::before,
.burger .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 3px;
  background: #060606;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.burger .menu-btn__burger::before {
  transform: translateY(-7px);
}
.burger .menu-btn__burger::after {
  transform: translateY(7px);
}

.burger.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.burger.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.burger.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* ** SLIDER 1 ** */

.container-slide {
  margin-left: 6%;
}

.sliderScreen1 .owl-dots {
  position: absolute;
  text-align: left;
  bottom: 15%;
  left: 13%;
}

.sliderScreen1 .owl-dots .owl-dot {
  border: 2px solid #aaa6a6;
  border-radius: 25px;
  margin: 4px;
}

.sliderScreen1 .owl-dots .owl-dot:focus {
  outline: none;
}

.sliderScreen1 .owl-dots .owl-dot span {
  background: transparent;
  margin: 2px;
  width: 6px;
  height: 6px;
}

.sliderScreen1 .owl-dots .active span {
  background: #005fa1 !important;
}

.sliderScreen1 .item {
  align-items: center;
  display: flex;
}

.sliderScreen1 .item .offer {
  font-family: "Montserrat";
  position: absolute;
  margin-left: 7%;
}

.sliderScreen1 .item .offer h1 {
  font-family: 'Roboto';
  font-weight: 900;
  max-width: 620px;
  font-size: 48px;
  color: black;
}

.sliderScreen1 .item .offer button {
  max-width: 620px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  padding: 15px 39px;
  background: #005fa1;
  color: white;
  margin-top: 67px;
  margin-left: 60px;
}

.slider2Screen1 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  border-radius: 30px;
  padding: 40px 30px;
  font-family: "Montserrat";
  margin-right: 25px;
}

.slider2Screen1 .splide,
.sliderEvents .splide,
.sliderHB .splide {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.sliderHB .splide {
  margin-top: 0;
}

.slider2Screen1 .buttonsSlider2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.sliderEvents .buttonsSliderEvents {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.splide__arrow svg {
  display: none;
}

.splide__arrow {
  position: relative;
  z-index: 1;
  transform: translateY(0);
  width: auto;
  height: auto;
  border-radius: 0;
  border: none;
  padding: 0;
  opacity: 1;
  background: #ccc;
}

.owl-nav .owl-next,
.owl-nav .owl-prev:focus {
  outline: none;
}

.newNext {
  width: 42px !important;
  height: 37px !important;
  background: url(../img/arrowRight.png) !important;
  transform: rotate( 360deg ) !important;
}

.newPrev {
  width: 42px !important;
  height: 37px !important;
  background: url(../img/arrowRight.png) !important;
  transform: rotate(180deg) !important;
}

.next {
  width: 30px;
  height: 30px;
  background: url(../img/arrowLeft.png);
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
}

.prev {
  width: 30px;
  height: 30px;
  background: url(../img/arrowLeft.png);
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  margin-right: 29px;
}

.prettyArrow .owl-nav .owl-next,
.prettyArrow .owl-nav .owl-prev {
  width: 30px;
  height: 30px;
  background: url(../img/arrowLeft.png) ;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

.prettyArrow .owl-nav .owl-next {
  transform: rotate(180deg);
}

.prettyArrow .owl-nav .owl-prev {
  margin-right: 29px;
}

.slider2Screen1 .card img {
  width: 100px;
}

.slider2Screen1 .card p.headName {
  margin-top: 16px;
  font-size: 15px;
}

/* ** NEWS ** */

#news .container {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

#news .leftBlock {
  position: relative;
  max-width: 400px;
}

#news .leftBlock .wrapper {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 24px 44px;
  margin-right: 24px;
  padding-bottom: 65px;
  position: relative;
  overflow: auto;
  max-width: 400px;
}

#news .leftBlock .wrapper h2, #news .newsBlock h2 {
  color: black;
  font-size: 30px;
}

#news .newsBlock {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.966);
  max-width: 300px;
  left: 44px;
  top: 14px;
  border: 1px solid rgba(163, 163, 163, 0.144);
  padding: 14px 14px 60px;
  border-radius: 5px;
}

#news .leftBlock .wrapper .oneNews, #news .newsBlock .oneNews {
  border-top: 1px solid #e9e7e7;
  padding-top: 16px;
  margin-top: 20px;
}

#news .leftBlock .wrapper .oneNews a, #news .newsBlock .oneNews a {
  text-decoration: none;
}

#news .leftBlock .oneNews .text, #news .newsBlock .oneNews .text {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto";
}

#news .leftBlock .oneNews .date, #news .newsBlock .oneNews .date {
  font-size: 13px;
  color: #918484;
}

#news .leftBlock .wrapper .btnNews, #news .newsBlock .btnNews {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 13px;
  background: #005fa0;
  color: white;
  font-size: 15px;
  border: none;
}

#news .newsBlock .btnNews {
  border-radius: 0px 0px 5px 5px;
}

#news .leftBlock .wrapper .btnNews:focus, #news .newsBlock .btnNews:focus {
  outline: none;
}

#news .leftBlock .newsCircle {
  margin-left: 172px;
  margin-top: 62px;
  position: absolute;
}

.showBlock {
  display: flex !important;
}

.headerDopDownNav {
  display: none;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.212);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  top: 70px;
  left: 30px;
}

.headerDopDownNav .menu {
  flex-direction: column;
  padding: 0;
}

.wrapperHead .headerDopDownNav .menu li a:after {
  bottom: -4px;
}

.wrapperHead .headerDopDownNav .menu li {
  margin-top: 5px !important;
}

.tab_content {
  display: none;
}
.tab_content_active {
  display: block;
}

.wrapperButtons .active {
  position: relative;
}

.wrapperButtons .active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #005fa0;
  position: absolute;
  left: 0;
  bottom: 0;
}

#news .rightBlock {
  padding-top: 47px;
}

#news .wrapperButtons {
  display: flex;
  justify-content: space-between;
}

#news .wrapperButtons .wrapperFirst {
  position: relative;
  align-items: center;
  display: flex;
}

#news .wrapperButtons .wrapperFirst .btn-menu-news {
  display: none;
}

#news .wrapperButtons .navsButtons .custom-owl-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#news .rightBlock .tabs {
  display: flex;
  list-style: none;
  padding-left: 25px;
}

#news .rightBlock .tabs li {
  margin-right: 43px;
}

#news .rightBlock .tabs a {
  font-family: "Roboto";
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}

#news .rightBlock .tabs .active {
  font-size: 15px;
  color: #000000;
  font-family: "Roboto";
  font-weight: bold;
  padding-bottom: 12px;
}

#news .rightBlock .tab_content .mainBlock {
  display: flex;
  margin: 24px 0;
}

#news .rightBlock .tab_content .mainBlock .left {
  background: #005fa0;
  border-radius: 5px;
  margin-right: -3px;
  color: #ffffff;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#news .rightBlock .tab_content .mainBlock .left h1 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  max-width: 444px;
}

#news .rightBlock .tab_content .mainBlock .left p {
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 50px;
}

#news .rightBlock .tab_content .sliderNews2 {
  margin-top: 40px;
}

#news .rightBlock .tab_content .owl-nav,
#events .mainBlock .rightBlock .sliderEvents .owl-nav,
#birthDay .owl-nav {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.owl-nav button span {
  display: none;
}

.w-77 {
  width: 77%;
}

/* ** EVENTS ** */

#events {
  margin-top: 24px;
}

#events .mainBlock {
  display: flex;
  justify-content: flex-end;
}

#events .mainBlock .leftBlock {
  position: relative;
  width: 33%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#events .mainBlock .leftBlock a {
  text-decoration: underline;
}

#events .mainBlock .leftBlock img {
  position: absolute;
  z-index: -1;
  left: 21px;
  margin-bottom: 20px;
}

#events .mainBlock .leftBlock h3 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

#events .mainBlock .rightBlock .sliderEvents .yellowCard {
  border: 2px solid #f8efd0;
}

#events .mainBlock .rightBlock .sliderEvents .yellowCard .wrapperDate p {
  background: #ecc951;
}

#events .mainBlock .rightBlock .sliderEvents .yellowCard .date {
  border-top-color: #ecc951;
  border-bottom-color: #ecc951;
}

#events .mainBlock .rightBlock .sliderEvents .noBrownCard {
  border: 2px solid #ecd1ca;
}

#events .mainBlock .rightBlock .sliderEvents .noBrownCard .wrapperDate p {
  background: #cb7755;
}

#events .mainBlock .rightBlock .sliderEvents .noBrownCard .date {
  border-top-color: #cb7755;
  border-bottom-color: #cb7755;
}

#events .mainBlock .rightBlock .sliderEvents .brownCard {
  border: 2px solid #dbccc5;
}

#events .mainBlock .rightBlock .sliderEvents .brownCard .wrapperDate p {
  background: #9d6447;
}

#events .mainBlock .rightBlock .sliderEvents .brownCard .date {
  border-top-color: #9d6447;
  border-bottom-color: #9d6447;
}

#events .mainBlock .rightBlock .sliderEvents .date {
  border-top: 16px solid;
  border-bottom: 16px solid;
}

#events .mainBlock .rightBlock .sliderEvents .card {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 42px 0 80px;
  margin-bottom: 15px;
  margin-right: 24px;
}

#events .mainBlock .rightBlock .sliderEvents .card .wrapperMain {
  padding: 46px 52px 0;
}

#events .mainBlock .rightBlock .sliderEvents .card .wrapperDate {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

#events .mainBlock .rightBlock .sliderEvents .card .wrapperDate p {
  padding: 7px 28px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}

#events .mainBlock .rightBlock .sliderEvents .card .date {
  top: 0;
  right: -11px;
  position: absolute;
  border-right: 12px solid transparent;
}

#events .mainBlock .rightBlock .sliderEvents .card .mainText {
  font-family: "Roboto";
  font-size: 22px;
  text-decoration: underline;
  color: #000000;
  margin-bottom: 50px;
}

#events .mainBlock .rightBlock .sliderEvents .card .btnCard {
  background: #f8efd0;
  border-radius: 100px;
  padding: 16px 33px;
  border: none;
}

#events .mainBlock .rightBlock .sliderEvents .card .btnCard i {
  margin-left: 8px;
}

/* ** NUMBERS ** */

/* #numbers {
  margin: 80px 0;
} */

#numbers h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#numbers .mainBlock {
  background: url(../img/dgty.png) no-repeat;
  background-position-y: 75px;
}

#numbers .wrapper {
  display: flex;
  justify-content: flex-end;
}

#numbers .mainBlock .rightBlock {
  width: 49%;
}

#numbers .mainBlock .textRight {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 26px;
  text-align: justify;
  color: #383838;
}

#numbers .wrapper .rightBlock .listOfAwards {
  display: flex;
  margin-top: 74px;
}

#numbers .wrapper .rightBlock .listOfAwards .item {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
}

#numbers .wrapper .rightBlock .listOfAwards img {
  width: max-content;
}

#numbers .wrapper .rightBlock .listOfAwards .item .moreHref {
  margin: 16px 0 8px;
}

#numbers .wrapper .rightBlock .allProgress {
  margin-top: 64px;
}

#numbers .wrapper .rightBlock .allProgress a {
  text-decoration: underline;
  font-family: "Roboto";
  font-size: 20px;
  color: black;
}

/* ** BIG SLIDER ** */

#bigSlider {
  padding: 80px 0;
}

#bigSlider .owl-carousel {
  margin-top: 24px;
}

#bigSlider .owl-carousel .item {
  position: relative;
}

#bigSlider .owl-carousel .item:after {
  content: "";
  transition: 0.3s linear;
  opacity: 0;
}

#bigSlider .owl-carousel .item:hover:after {
  content: "";
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

#bigSlider .item .offer {
  position: absolute;
  display: none;
  bottom: 30%;
  width: 100%;
  z-index: 100;
  justify-content: space-around;
  padding: 0 20px;
  align-items: center;
}

#bigSlider .item .offer p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  margin: 0;
}

#bigSlider .item .offer .watch {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #1e1d1d;
  border: none;
  border-radius: 50px;
  background-color: white;
  padding: 12px 28px;
}

#bigSlider .moreInfo {
  margin-top: 64px;
}

#bigSlider .moreInfo button {
  width: 100%;
  border: 2px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;
  background: transparent;
  font-weight: bold;
}

#bigSlider .moreInfo button:focus {
  outline: none;
}

#bigSlider .moreInfo button i {
  margin-left: 16px;
}

#bigSlider .rel {
  position: relative;
}

#bigSlider .circle2 {
  position: absolute;
  right: -30px;
  top: 75px;
}

/* ** BIRTH DAY ** */

#birthDay {
  padding-top: 80px;
}

#birthDay .headName {
  display: flex;
}

#birthDay .headName h1 {
  margin: 0;
  margin-left: 24px;
  font-weight: bold;
  font-size: 40px;
}

#birthDay .circles {
  display: flex;
  align-items: center;
}

#birthDay .circles .circle {
  width: 12px;
  height: 12px;
  background: #aeaeae;
  opacity: 0.3;
  border-radius: 50px;
  margin-right: 12px;
}

#birthDay .sliderHB {
  margin-top: 56px;
  background: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 69px 62px;
  position: static;
}

#birthDay .wrapperSlider {
  position: relative;
  padding-bottom: 50px;
}

#birthDay .sliderHB .splide {
  position: static;
}

#birthDay .sliderHB .item {
  margin-right: 40px;
}

#birthDay .sliderHB .buttonsSliderHB {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

#birthDay .sliderHB .item h6 {
  font-family: "Roboto";
  font-size: 20px;
  color: #000000;
}

#birthDay .sliderHB .item p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  margin-top: 24px;
}

#birthDay .itemsGroup {
  display: flex;
  margin: 0 88px;
  justify-content: space-between;
}

#birthDay .recomBlock {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#birthDay .recomText {
  font-family: "Roboto";
  font-size: 20px;
  color: #000000;
  margin-left: 24px;
  margin-bottom: 0;
  max-width: 260px;
}

#birthDay .buttonUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/cirlce2.png) no-repeat;
  background-position: center;
  padding: 36px;
  margin: 42px 0;
}

#birthDay .buttonUp button {
  border: none;
  background: none;
}

#birthDay .buttonUp button:focus {
  outline: none;
}

#birthDay .buttonUp button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

/* ** FOOTER ** */

footer {
  background-color: #393939;
  padding-bottom: 60px;
}

footer .firstSection {
  display: flex;
  justify-content: space-around;
  background-color: #393939;
  height: 100%;
  padding: 98px 0 78px;
}

footer .firstSection h2 {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Roboto";
  font-size: 20px;
  color: #ececec;
  font-weight: 500;
}

footer .footerInfor {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .leftLine {
  border-left: 1px solid #5b5959;
  padding-left: 24px;
}

footer .whileColor {
  color: white;
}

footer .inSection {
  font-size: 15px;
  color: #857c7c;
}

footer .social {
  margin-bottom: 18px;
}

footer .socialPhoto_block {
  margin-left: 9px;
}

footer .socialPhoto_block:first-child {
  margin-left: 0;
}

footer hr {
  border: none;
  height: 1px;
  background: #4e4d4d;
}

footer .footerSlider .item .wrapper {
  display: flex;
  align-items: center;
}

/* ** FOOTER SLIDER ** */

footer .footerSlider .item .wrapper img {
  width: auto;
}

.footerSlider .owl-nav {
  display: flex !important;
  justify-content: flex-end;
}

.footerSlider .owl-nav .owl-next,
.footerSlider .owl-nav .owl-prev {
  width: 40px;
  height: 40px;
  background: url(../img/footerArrow.png) !important;
  background-repeat: no-repeat !important;
  border: 2px solid #857c7c !important;
  border-radius: 0;
  background-position: 50% 50% !important;
}

.footerSlider .owl-nav .owl-prev {
  transform: rotate(180deg);
}

.owl-theme .owl-nav {
  margin: 0;
}

footer .owl-carousel,
footer .owl-carousel.owl-loaded {
  display: flex !important;
  align-items: center;
}

footer .footerContainer {
  width: 96%;
}

footer .footerSite {
  display: flex;
  justify-content: space-between;
}

footer .footerSiteInfor {
  display: flex;
  align-items: center;
}

footer .siteInfor {
  color: #857c7c;
  font-size: 15px;
  font-family: "Roboto";
  width: 194px;
  margin: 0;
  margin-left: 5%;
}

footer .footerEnd {
  color: #857c7c;
  margin-top: 3%;
}

footer .inSectionHref {
  color: #857c7c;
}
